@use '../../../scss/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,500&display=swap');

.calculator {
  border: none;
  padding: 38px;
  width: 350px;
  height: 403px;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr) 0.3fr;
  grid-template-rows: 0.5fr 0.2fr 0.6fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  background-color: v.$color-main-white;
  box-sizing: border-box;

  .display-input-wrapper {
    grid-area: 1 / 1 / 2 / 4;
    width: 100%;
    height: 86px;
    border: 1px solid v.$color-border-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.7rem;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px 16px;
    letter-spacing: 2px;

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .display {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-family: 'Rubik', sans-serif;
    }

    .number-input {
      border: none;
      outline: none;
      width: 100%;
      letter-spacing: 2px;
      text-align: right;
      font-size: 1.5rem;
      color: #686868;
      font-family: 'Rubik', sans-serif;
    }
  }

  .clear-delete-buttons {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    gap: 5px;

    & button {
      font-size: 1.2rem;
      font-family: 'Rubik', sans-serif;
      height: 40px;
      width: 65px;
      cursor: pointer;
      border: none;
      background-color: v.$color-salmon-button;
      color: v.$color-main-white;
    }

    & :hover {
      background-color: v.$color-salmon-button-hover;
      transition: 0.2s;
    }
  }

  .number-buttons {
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    & button {
      font-size: 1.2rem;
      font-family: 'Rubik', sans-serif;
      height: 40px;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }

    & :nth-child(10) {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
    }

    & :active {
      color: #000000b2;
      border: 1px solid v.$color-border-light;
    }
  }

  .operator-buttons {
    grid-area: 2 / 3 / 4 / 4;
    display: flex;
    gap: 5px;
    flex-direction: column;

    & button {
      font-size: 1.2rem;
      font-family: 'Rubik', sans-serif;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      background-color: v.$color-tangerine-button;
    }

    & :hover {
      background-color: v.$color-tangerine-button-hover;
      transition: 0.2s;
    }

    & :nth-child(3) {
      padding-top: 10px;
    }

    & :nth-child(5) {
      background-color: v.$color-blue-marine-button;
      color: v.$color-main-white;
    }

    & :nth-child(5):hover {
      background-color: v.$color-blue-marine-button-hover;
      transition: 0.2s;
    }
  }
}