$color-gradient-background: linear-gradient(#325a7c, #c06c87);

$color-main-white: #ffffff;

$color-salmon-button: #f17680;

$color-salmon-button-hover: #ed8991;

$color-border-light: #cccccc7c;

$color-tangerine-button: #eeb395;

$color-tangerine-button-hover: #f3bda2;

$color-blue-marine-button: #315c7f;

$color-blue-marine-button-hover: #1c5177;
